/* CSS Stylesheet */

@keyframes fadeInFast {
  0% {
    opacity: 0;
  }
  27% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bio-container .sub-title p {
  animation-name: fadeInFast;
  animation-duration: 1.2s;
}

.bio-container .content-container {
  padding: 0 42px;
}

.bio-container .content-container > * {
  opacity: 0;
  animation: fadeInFast 1.2s forwards;
  animation-delay: 0.8s;
}

