/* CSS Stylesheet */

.contact-container .title-container .sub-title span {
  opacity: 0;
  -webkit-animation: flashBlue 0.1s forwards,
             resetOpacity 0.1s forwards;
          animation: flashBlue 0.1s forwards,
             resetOpacity 0.1s forwards;
}

.contact-container .title-container .sub-title span:nth-child(1) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.contact-container .title-container .sub-title span:nth-child(2) {
  -webkit-animation-delay: 0.23s;
          animation-delay: 0.23s;
}

.contact-container .title-container .sub-title span:nth-child(3) {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.contact-container .title-container .sub-title span:nth-child(4) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.contact-container .title-container .sub-title span:nth-child(5) {
  -webkit-animation-delay: 0.46s;
          animation-delay: 0.46s;
}

.contact-container .title-container .sub-title span:nth-child(6) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}

.contact-container .title-container .sub-title span:nth-child(7) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}

.contact-container .title-container .sub-title span:nth-child(8) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.contact-container .title-container .sub-title span:nth-child(9) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.contact-container .title-container .sub-title span:nth-child(10) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.contact-container .title-container .sub-title span:nth-child(11) {
  -webkit-animation-delay: 1.13s;
          animation-delay: 1.13s;
}

.contact-form-container {
  margin: 23px auto 46px;
  padding: 12px 23px;
  width: 738px;
  height: 598px;
  -webkit-transform: translateY(0.14);
      -ms-transform: translateY(0.14);
          transform: translateY(0.14);
  border: 1px solid #EEE;
  border-radius: 13px;
  -webkit-animation: resetTransform 0.6s;
          animation: resetTransform 0.6s;
}

.contact-form-container > p,
.contact-form-container > span,
.contact-form-container > form {
  opacity: 0;
  -webkit-animation: resetOpacity 0.4s forwards;
          animation: resetOpacity 0.4s forwards;
}

.contact-form-container > p {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.contact-form-container > span {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.contact-form-container > form {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.contact-form-container form label,
.contact-form-container form input,
.contact-form-container form textarea {
  opacity: 0;
}

.contact-form-container form label:nth-of-type(1),
.contact-form-container form input:nth-of-type(1) {
  -webkit-animation: resetOpacity 0.4s forwards 0.8s;
          animation: resetOpacity 0.4s forwards 0.8s;
}

.contact-form-container form label:nth-of-type(2),
.contact-form-container form input:nth-of-type(2) {
  -webkit-animation: resetOpacity 0.4s forwards 1s;
          animation: resetOpacity 0.4s forwards 1s;
}

.contact-form-container form label:nth-of-type(3),
.contact-form-container form input:nth-of-type(3) {
  -webkit-animation: resetOpacity 0.4s forwards 1.2s;
          animation: resetOpacity 0.4s forwards 1.2s;
}

.contact-form-container form label:nth-of-type(4),
.contact-form-container form textarea {
  -webkit-animation: resetOpacity 0.4s forwards 1.4s;
          animation: resetOpacity 0.4s forwards 1.4s;
}

.contact-form-container form label:nth-of-type(5),
.contact-form-container form input:nth-of-type(4) {
  -webkit-animation: resetOpacity 0.4s forwards 1.6s;
          animation: resetOpacity 0.4s forwards 1.6s;
}

.contact-form-container form input[name="submit"] {
  display: block;
  margin: 0 auto;
  width: 42%;
  -webkit-animation: resetOpacity 0.4s forwards 1.8s;
          animation: resetOpacity 0.4s forwards 1.8s;
}

.contact-form-container hr {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation: resetTransform 1s forwards 0.1s;
          animation: resetTransform 1s forwards 0.1s;
}

.contact-form-container p {
  text-align: center;
}

.contact-form-container form {
  margin-top: 36px;
  padding: 23px 0;
}

.contact-form-container form label {
  width: 36%;
  vertical-align: middle;
  line-height: 2;
}

.contact-form-container form label[for="message"] {
  vertical-align: top;
}

.contact-form-container form input,
.contact-form-container form textarea {
  margin-bottom: 13px;
  padding-left: 8px;
  width: 54%;
  line-height: 2;
}

.contact-form-container span.contact-error {
  display: block;
  padding: 0 8px;
  width: 100%;
  line-height: 32px;
  border-radius: 2px;
  color: red;
  background-color: khaki;
}

.contact-form-container form span.contact-error {
  margin: 0 37% 13px;
  width: 53%;
}
