html,
body {
  height: 100%;
  color: #EEE;
  background-color: #444;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -77px;
}

header {
  height: 270px;
}

.push {
  height: 77px;
}

main {
  padding-top: 63px;
}

footer {
  height: 77px;
  color: #222;
  background-color: #EEE;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

[hidden] {
  display: none;
}

.brand-container {
  margin-top: 23px;
  padding: 12px;
  text-align: center;
  font-size: 2rem;
}

header ul {
  list-style: none;
}

.vh { 
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

[data-menu-component] {
  position: relative;
  display: block;
  margin: 23px auto 0;
  width: 300px;
  height: 48px;
}

label {
  display: inline-block;
}

[role="menu"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

[data-opens-menu],
[role="menu"] a {
  width: 100%;
  height: 100%;
  line-height: 1;
  text-align: center;
  background: #EEE;
  border: 0;
  color: #111;
  padding: 0.33rem 0;
  text-decoration: none;
}

[data-opens-menu] {
  padding: 1.4rem 0 0.33rem;
  height: 2.6rem;
  font-size: 1.6em;
}

[role="menu"] a {
  font-size: 1.6em;
}

[type="checkbox"]:focus + [data-opens-menu], [role="menu"] a:focus {
  outline: none;
  background: #888;
}

:checked + label .expanded-text {
  display: inline;
}

:checked + label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .collapsed-text {
  display: inline;
}

[role="menu"] {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
}

:checked ~ [role="menu"] {
  display: block;
}

[data-menu-origin="right"] {
  left: auto;
  right: 0;
}

[role="menu"] a {
  display: block;
  min-width: 100%;
  min-height: 48px;
  margin-top: 0.125rem;
  white-space: nowrap;
}

.social-container {
  display: block;
  margin: 54px 0 0;
  width: 100%;
  height: 80px;
}

.social-container div {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.social-container ul {
  margin: 0 auto;
  padding: 0;
  width: 500px;
}

.social-container ul li {
  display: inline;
  padding: 8px;
  width: 80px;
  height: 80px;
}

.social-container img {
  padding: 8px;
  border: 3px solid #222;
  border-radius: 50px;
  background-color: #EEE;
}

.title-container {
  display: block;
  width: 100%;
}

.title {
  padding: 0 72px 0;
  text-align: right;
}

.title h2 {
  font-size: 72px;
  line-height: 38px;
  color: #3F9E9B;
}

.title h2 span {
  font-size: 68px;
  color: #EEE;
}

header .title {
  text-align: center;
}

header .title h2 {
  font-size: 80px;
}

header .title h2 span {
  font-size: 82px;
}

.sub-title {
  margin-top: 23px;
  padding-left: 36px;
  font-size: 28px;
  color: #6f9e9d;
}

#copyright {
  padding-top: 23px;
  text-align: center;
}

.feather {
  width: 54px;
  height: 54px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
