html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #EEE;
  background-color: #444;
  font-family: 'Work Sans', Verdana, Geneva, sans-serif;
  font-weight: 400;
}

header {
  height: 270px;
}

main {
  padding-top: 63px;
}

footer {
  height: 77px;
  color: #222;
  background-color: #EEE;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', "Arial Black", Gadget, sans-serif;
}

header ul {
  list-style: none;
}

label {
  display: inline-block;
}

.title {
  padding: 0 72px 0;
  text-align: right;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: #3F9E9B;
}

.title span {
  font-size: 1.6em;
  color: #EEE;
}

header .title {
  text-align: center;
  font-size: 2em;
}

header .title span {
  font-size: 2.1em;
}

main .title {
  position: relative;
}

.pageTitle {
  position: absolute;
  right: -3200px;
  -webkit-animation: slideIn 0.5s forwards;
          animation: slideIn 0.5s forwards;
}

.sub-title {
  margin-top: 23px;
  padding: 36px 0 0 36px;
  font-size: 0.8em;
  color: #6f9e9d;
}

.page-wrapper {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: -77px;
}

.push {
  height: 77px;
}

.brand-container {
  margin-top: 23px;
  padding: 12px;
  text-align: center;
  font-size: 2rem;
}

.vh {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.dropdown-menu {
  position: relative;
  display: block;
  margin: 23px auto 0;
  width: 300px;
  height: 48px;
  z-index: 999;
}

.dropdown-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

.menu-expander,
.dropdown-menu-list a {
  width: 100%;
  height: 100%;
  line-height: 1;
  text-align: center;
  background: #EEE;
  border: 0;
  color: #111;
  padding: 0.33rem 0;
  text-decoration: none;
}

.menu-expander {
  padding: 1.4rem 0 0.33rem;
  height: 2.6rem;
  font-size: 1.6em;
}

.dropdown-menu-list a {
  font-size: 1.6em;
}

[type="checkbox"]:focus + .menu-expander, .dropdown-menu-list a:focus {
  outline: none;
  background: #888;
}

:checked + label .expanded-text {
  display: inline;
}

:checked + label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .collapsed-text {
  display: inline;
}

.dropdown-menu-list {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
}

:checked ~ .dropdown-menu-list {
  display: block;
}

.dropdown-menu-list a {
  display: block;
  min-width: 100%;
  min-height: 48px;
  margin-top: 0.125rem;
  white-space: nowrap;
}

.social-container {
  display: block;
  margin: 3.3rem 0 0;
  width: 100%;
}

.social-container div {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.social-container ul {
  margin: 0 auto;
  padding: 0;
  width: 33rem;
}

.social-container ul li {
  display: inline-block;
  margin: 0.2rem 1.2rem;
  width: 5rem;
  opacity: 0;
  -webkit-animation: resetOpacity 0.2s forwards;
          animation: resetOpacity 0.2s forwards;
}

.social-container ul li:nth-child(1) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.social-container ul li:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.social-container ul li:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.social-container ul li:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.social-container ul li a {
  display: inline-block;
  padding: 8px;
  width: 82px;
  height: 82px;
  border: 3px solid #222;
  border-radius: 50px;
  background-color: #EEE;
}

.social-container img {
  padding: 8px;
}

.hero-banner {
  overflow-y: hidden;
  margin: 23px -63px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #CCC;
  height: 23rem;
}

.hero-banner img {
  width: 100%;
}

.copyright {
  padding-top: 23px;
  text-align: center;
}

.article-container {
  padding: 0 8rem;
}
